@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  font-family: Karla, Arial;
  line-height: 1.5;
  
  color-scheme: light dark;
  background-color: #0B2434;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-font-color: #2B283A;
  --secondary-font-color: #4A4E74;
}

*{
  box-sizing: border-box;
  overflow: hidden;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1,h2,h3.h4,h5,p{
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:var(--primary-font-color)
}

p{
  color: var(--secondary-font-color)
}




